.Main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 80vh;
  grid-template-areas: "main sidebar";
}
.container {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}

@media screen and (max-width: 600px) {
  .Main {
    grid-template-columns: 1fr;
    grid-template-rows: 50vh;
    grid-template-areas: "main"
                          "sidebar";
  }
  .container {
    height: auto;
  }

}