.main-dashboard {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: $dark;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.spinner-box {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  animation: spinner 1s infinite linear;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.overview .overview-header-h1 {
  color: $accent-similar-dark;
  font-family: $logo-main-font;
}
.overview .overview-header-h1 {
  color: $accent-similar-dark;
  font-family: $logo-main-font;
}

.overview {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $dark;
}

.overview button {
  width: 100%;
  height: 100px;
  background-color: $primary-color;
  color: $background-color;
  font-size: 2.5rem;
  margin: 8px;
  border: 1px solid $accent-similar-dark;
  border-radius: 5px;
  font-family: $body-font;
  box-shadow: none;
}

.overview button:active {
  background-color: $accent-similar-dark;
}

.overview button:hover {
  background-color: $accent-similar-dark;

}

// general view

.main-dashboard .gen-body {
  width: 80%;
  max-width: 1000px;
  height: 80%;
  overflow: scroll;
  background-color: $background-color;
  border-radius: 5px;
}
.main-dashboard .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gen-header {
  color: $primary-color;
  font-family: $logo-main-font;
  margin-left: 5%;
  font-size: 5rem;
}
.gen-header {
  color: $primary-color;
  font-family: $logo-main-font;
  margin-left: 5%;
  font-size: 5rem;
}
.gen-sub-header {
  color: $primary-color;
  font-family: $body-font;
  font-size: 3rem;
  text-align: center;
}

.header-button-box {
  display: flex;
}

.top-bar .header-button-box button {
  width: 150px;
  height: 50px;
  background-color: $primary-color;
  color: $background-color;
  border: 1px solid $primary-color;
  border-radius: 5px;
  font-family: $body-font;
  font-size: 2.5rem;
  margin: 8px;
  box-shadow: none;
}

.top-bar .header-button-box button:hover {
  background-color: $accent-similar-dark;
}
.top-bar .header-button-box button:hover:disabled {
  background-color: $dark;
}

.top-bar button:disabled {
  background-color: $dark;
  border: 1px solid $dark;

}
.gen-list {
  margin: 0;
}

.gen-list-item {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  height: 60px;
  margin: 10px;
  border: solid 2px $background-color;
}
.gen-list-item:hover {
  //border-top: solid 2px $primary-color;
  //border-bottom: dotted 1px $primary-color;

}

.gen-list-item button  {
  position: relative;
  top: 10px;
  background-color: $background-color;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 100%;
  border: solid 2px $primary-color;
  box-shadow: none;
}
.gen-list-item button svg {
  position: relative;
  top: 2px;
}
.gen-list-item button:hover {
  //background-color: $light;
  border: solid 3px $primary-color;
}

.gen-list-move-controls {
  margin-right: 0;
  margin-left: auto;
}
.gen-list-edit-controls {
  margin-left: 0;
  margin-right: 20px;
}
.gen-list-text {
  width: 100%;
}
.edit-warning-box {
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.edit-warning-box p {
  font-size: 1.2rem;
  margin: 0;
}
.edit-warning {
  border-left: none;
}
.warning-icon {
  position: relative;
  top: 3px;
}


// specific view
// don't need this.. yet
.sp-body {
  width: 80vw;
  max-width: 1000px;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: $background-color;
  border-radius: 5px;
}



.sp-item {
  width: 100%;
  margin: 15px;
  margin-top: 25px;
}
.sp-item label {
  display: flex;
  flex-direction: row;
}
.sp-item p {
  margin-right: 40px;
  width: 100px;
  margin-top: 0;
  font-size: 1.5rem;
}
.sp-item textarea {
  margin-right: 15px;
  font-family: $body-font;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  position: relative;
  width: 80%;
}
.sp-item input[type='checkbox'] {
  width: 3rem;
  height: 3rem;
  position: relative;
}
.short-text {
  height: 30px;
}
.med-text {
  height: 200px;
}
.long-text {
  height: 400px;
}
.iframe-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.sp-list {

}
.sp-list-item {
  list-style: none;
}
.sp-list input[type='text'] {
  margin-right: 15px;
  font-family: $body-font;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  position: relative;
  width: 80%;
  height: 30px;
}
.blog-col-1 {
  margin: 0;
}
.blog-col-1 button
  {
  position: relative;
  top: 10px;
  background-color: $background-color;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 100%;
  border: solid 2px $primary-color;
  box-shadow: none;
}
.blog-col-1 button svg,
.thesaurus-item button svg
 {
  position: relative;
  top: 2px;
}
.blog-col-1 button:hover
 {
  //background-color: $light;
  border: solid 3px $primary-color;
}
.blog-end {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-content: center;
}
.add-blog-button {
  font-family: $body-font;
  font-size: 2.5rem;
  background-color: $background-color;
  color: $primary-color;
  width: 400px;
  height: 50px;
  margin: 5px;
  margin-bottom: 100px;
  border-radius: 0%;
  border: solid 2px $primary-color;
}
.add-blog-button:hover {
  border: solid 3px $primary-color;
}
.add-blog-button svg {
  vertical-align: -3px;
}
.sp-label  {
  margin: 5px;
}
.thesaurus-list {
  //display: flex;
}
.thesaurus-item {
  list-style: none;
  display: flex;
}
.thesaurus-item p,
.thesaurus-item button,
.thesaurus-item svg {
  margin: 0;
  margin-right: 50px;
}
.thesaurus-item button,
.thesaurus-label button {
  position: relative;
  top: 0px;
  background-color: $background-color;
  width: 40px;
  height: 40px;
  margin: 5px;
  margin-top: 0;
  margin-right: 20px;
  border-radius: 100%;
  border: solid 2px $primary-color;
  box-shadow: none;
}
.thesaurus-item button:hover,
.thesaurus-label button:hover {
  border: solid 3px $primary-color;
}
.thesaurus-item button svg {
  position: relative;
  left: 2px;
}
.thesaurus-item svg {
  position: relative;
  top: 11px;
}
.thesaurus-term-box {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  width: 200px;
}
.thesaurus-label input[type='text'] {
  margin-right: 15px;
  font-family: $body-font;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  position: relative;
  width: 50%;
  height: 34px;
}
.thesaurus-item p {
  position: relative;
  top: 10px;
}

// error page
.error-box {
  margin: 20px;
}
.error-button {
  position: relative;
  top: 0px;
  background-color: $background-color;
  font-family: $body-font;
  font-size: 2.5rem;
  width: 200px;
  height: 50px;
  margin: 5px;
  margin-top: 0;
  margin-right: 20px;
  border-radius: 0;
  border: solid 2px $primary-color;
  box-shadow: none;
}
.error-button:hover {
  border: solid 3px $primary-color;
}