// desktop layout
@media (min-width: 945px){
    .main-wrapper {
      grid-template-areas:
      "banner banner"
      "navbar navbar"
      "main sidebar";
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto auto 600px;
    }



    // typography
    h1 {
        font-size: calc(1.4rem + 4.5vw);
    }
}
