/* navbar style */
nav {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: solid 2px $primary-color;
  border-bottom: solid 2px $primary-color;
}
nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: auto;
}
nav li {
  flex: 1;
  flex-grow: 1;
  list-style: none;
}
nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  color: $primary-color;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
nav li:hover {
  background-color: $primary-color;
  a {
    color: $background-color;
  }
}

// which page are we on?
nav .active {
  background-color: $primary-color;
  color: $background-color;
}
