// colors
$primary-color: #385749ff;  /* primary color: brunswick green */
$accent-similar-light: #43b182ff; /* accent-similar-light: mint */
$accent-similar-dark: #3B7D60; /* accent-similar-dark: Amazon */
$accent-contrast-light: #6E62A7; /* accent-contrast-light: Dark Blue Gray */
$accent-contrast-dark: #342c63ff; /* accent-contrast-dark: space cadet */
$background-color: #ffffffff; // background-color: white

// fonts
$header-font: 'Crimson Text', serif;
$header-font: 'Raleway', sans-serif;
$body-font: 'Quicksand', sans-serif;
