html {
  font-size: 10px;
}

@import "sass_partials/variables";
@import "sass_partials/typography";
@import "sass_partials/mainNav";
@import "sass_partials/mainSvg";
@import "sass_partials/sidebar";
@import "sass_partials/basicLayout";
@import "sass_partials/mobileLayout";
@import "sass_partials/tabletLayout";
@import "sass_partials/desktopLayout";
@import "sass_partials/appLayout";
@import "sass_partials/header";
@import "sass_partials/footer";

@import "sass_partials/dashboard";
