@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
html {
  font-size: 10px;
}

/* primary color: brunswick green */
/* accent-similar-light: mint */
/* accent-similar-dark: Amazon */
/* accent-contrast-light: Dark Blue Gray */
/* accent-contrast-dark: space cadet */
/* typography */
html {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
}

h1, h3 {
  font-family: "Raleway", sans-serif;
  color: #385749ff;
}

p, blockquote, a {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-family: "Raleway", sans-serif;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

p, a {
  font-size: 1.8rem;
}

p {
  line-height: 2em;
}

main .main-header {
  font-family: "Raleway", sans-serif;
  color: #385749ff;
  font-size: 3rem;
}

main .centered {
  text-align: center;
}

main .main-subheader {
  font-family: "Raleway", sans-serif;
}

main .item-title {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  color: #385749ff;
  letter-spacing: 0.1rem;
  margin-top: 0;
}

main .item-details {
  font-family: "Raleway", sans-serif;
  color: #464646;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin: 0;
}

main .item-text {
  font-family: "Raleway", sans-serif;
}

main .item-link {
  color: #342c63ff;
}

main .item-link:visited {
  color: #6E62A7;
}

main .item-link:active {
  color: #464646;
}

main .title-link {
  text-decoration: none;
}

main .title-link:active {
  color: #464646;
}

main article blockquote {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
}

form .form-label {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

/* navbar style */
nav {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: solid 2px #385749ff;
  border-bottom: solid 2px #385749ff;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  height: auto;
}

nav li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  list-style: none;
}

nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  color: #385749ff;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

nav li:hover {
  background-color: #385749ff;
}

nav li:hover a {
  color: #ffffffff;
}

nav .active {
  background-color: #385749ff;
  color: #ffffffff;
}

.Main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.container {
  -ms-grid-column: 1;
  grid-column: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 600px;
  position: relative;
}

.container svg {
  display: block;
  width: 100%;
  height: 100%;
  border: solid 1px black;
}

.sidebar {
  -ms-grid-column: 2;
  grid-column: 2;
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  border: solid 1px black;
  padding-right: 0;
  margin-right: 0;
}

.sidebar button {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  width: 33.33333%;
  height: 40px;
  background-color: #385749ff;
  color: #ffffffff;
  border-radius: none;
  border: none;
  margin: 0;
  margin-bottom: 10px;
}

.sidebar .active-button {
  border-bottom: none;
  background-color: #ffffffff;
  color: #385749ff;
}

.sidebar .search-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .active-button:focus {
  outline: none;
  border-bottom: 1px dotted grey;
}

.sidebar .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar .search-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
}

.sidebar-title {
  font-size: 2.5rem;
}

.sidebar-text, .sidebar-title {
  margin: 2% 5%;
}

.popup-aside .sidebar-text {
  height: 28vh;
  overflow-y: hidden;
}

.popup-subtitle {
  font-size: 1.5rem;
  font-weight: none;
}

.popup-aside {
  border: double 1px black;
  margin: 20px;
}

.search-bar {
  width: 80%;
  height: 40px;
  margin-left: 10%;
  font-size: 1.5rem;
  border: solid 1px black;
}

.sidebar ul li {
  list-style: none;
  font-size: 1.5rem;
}

.case-warning {
  line-height: normal;
  font-size: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

/* basic layout */
body {
  width: 90%;
  max-width: 1200px;
  padding: 2.5%;
  background-color: #ffffffff;
}

/* grid area settings */
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: banner;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: navbar;
}

main {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
}

aside {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sidebar;
}

footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}

/* mobile layout */
.main-wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "banner" "navbar" "main" "sidebar" "footer";
}

nav a:active {
  background-color: #385749ff;
  color: #ffffffff;
}

@media (min-width: 600px) {
  .main-wrapper {
        grid-template-areas: "banner banner" "navbar navbar" "main sidebar" "footer footer";
    -ms-grid-columns: 1fr 250px;
        grid-template-columns: 1fr 250px;
    grid-gap: 20px;
  }
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
  }
  nav {
    border: none;
    border-top: #385749ff 1px solid;
    border-bottom: #385749ff 1px solid;
  }
  nav a {
    height: 100%;
    line-height: 4rem;
  }
  aside {
    border-left: #ffffffff 1px solid;
  }
  h1 {
    font-size: calc(1.4rem + 4.5vw);
  }
  h3 {
    font-size: 3rem;
  }
}

@media (min-width: 887px) {
  .main-wrapper {
        grid-template-areas: "banner banner" "navbar navbar" "main sidebar" "footer footer";
    -ms-grid-columns: 3.2fr .8fr;
        grid-template-columns: 3.2fr .8fr;
  }
}

.Main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  -ms-grid-rows: 80vh;
      grid-template-rows: 80vh;
      grid-template-areas: "main sidebar";
}

.container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: main;
}

.sidebar {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: sidebar;
}

@media screen and (max-width: 600px) {
  .Main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 50vh;
        grid-template-rows: 50vh;
        grid-template-areas: "main" "sidebar";
  }
  .container {
    height: auto;
  }
}

header img {
  width: 20%;
  float: right;
  margin-right: 5%;
}

header .logo {
  font-family: "Nothing You Could Do";
  font-weight: 500;
  text-align: left;
  font-size: calc(1.6rem + 2vw);
}

header .tagline {
  font-family: "Raleway", sans-serif;
  text-align: left;
  font-size: 1.8rem;
  word-spacing: 2%;
  letter-spacing: .2rem;
  color: #464646;
}

@media (min-width: 887px) {
  header .logo {
    font-size: calc(1.6rem + 4.5vw);
  }
}

/* footer style */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: 1px solid #385749ff;
  margin-top: 30px;
}

footer p {
  text-align: center;
  color: #385749ff;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
  margin: 25px;
}

footer a {
  color: #385749ff;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
}

.main-dashboard {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #464646;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner-box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner {
  -webkit-animation: spinner 1s infinite linear;
          animation: spinner 1s infinite linear;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.overview .overview-header-h1 {
  color: #3B7D60;
  font-family: "Nothing You Could Do";
}

.overview .overview-header-h1 {
  color: #3B7D60;
  font-family: "Nothing You Could Do";
}

.overview {
  width: 400px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #464646;
}

.overview button {
  width: 100%;
  height: 100px;
  background-color: #385749ff;
  color: #ffffffff;
  font-size: 2.5rem;
  margin: 8px;
  border: 1px solid #3B7D60;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.overview button:active {
  background-color: #3B7D60;
}

.overview button:hover {
  background-color: #3B7D60;
}

.main-dashboard .gen-body {
  width: 80%;
  max-width: 1000px;
  height: 80%;
  overflow: scroll;
  background-color: #ffffffff;
  border-radius: 5px;
}

.main-dashboard .top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gen-header {
  color: #385749ff;
  font-family: "Nothing You Could Do";
  margin-left: 5%;
  font-size: 5rem;
}

.gen-header {
  color: #385749ff;
  font-family: "Nothing You Could Do";
  margin-left: 5%;
  font-size: 5rem;
}

.gen-sub-header {
  color: #385749ff;
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  text-align: center;
}

.header-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar .header-button-box button {
  width: 150px;
  height: 50px;
  background-color: #385749ff;
  color: #ffffffff;
  border: 1px solid #385749ff;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  margin: 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.top-bar .header-button-box button:hover {
  background-color: #3B7D60;
}

.top-bar .header-button-box button:hover:disabled {
  background-color: #464646;
}

.top-bar button:disabled {
  background-color: #464646;
  border: 1px solid #464646;
}

.gen-list {
  margin: 0;
}

.gen-list-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 60px;
  margin: 10px;
  border: solid 2px #ffffffff;
}

.gen-list-item button {
  position: relative;
  top: 10px;
  background-color: #ffffffff;
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 100%;
  border: solid 2px #385749ff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gen-list-item button svg {
  position: relative;
  top: 2px;
}

.gen-list-item button:hover {
  border: solid 3px #385749ff;
}

.gen-list-move-controls {
  margin-right: 0;
  margin-left: auto;
}

.gen-list-edit-controls {
  margin-left: 0;
  margin-right: 20px;
}

.gen-list-text {
  width: 100%;
}

.edit-warning-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.edit-warning-box p {
  font-size: 1.2rem;
  margin: 0;
}

.edit-warning {
  border-left: none;
}

.warning-icon {
  position: relative;
  top: 3px;
}

.sp-body {
  width: 80vw;
  max-width: 1000px;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ffffffff;
  border-radius: 5px;
}

.sp-item {
  width: 100%;
  margin: 15px;
  margin-top: 25px;
}

.sp-item label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sp-item p {
  margin-right: 40px;
  width: 100px;
  margin-top: 0;
  font-size: 1.5rem;
}

.sp-item textarea {
  margin-right: 15px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  position: relative;
  width: 80%;
}

.sp-item input[type='checkbox'] {
  width: 3rem;
  height: 3rem;
  position: relative;
}

.short-text {
  height: 30px;
}

.med-text {
  height: 200px;
}

.long-text {
  height: 400px;
}

.iframe-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.sp-list-item {
  list-style: none;
}

.sp-list input[type='text'] {
  margin-right: 15px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  position: relative;
  width: 80%;
  height: 30px;
}

.blog-col-1 {
  margin: 0;
}

.blog-col-1 button {
  position: relative;
  top: 10px;
  background-color: #ffffffff;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 100%;
  border: solid 2px #385749ff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog-col-1 button svg,
.thesaurus-item button svg {
  position: relative;
  top: 2px;
}

.blog-col-1 button:hover {
  border: solid 3px #385749ff;
}

.blog-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

.add-blog-button {
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  background-color: #ffffffff;
  color: #385749ff;
  width: 400px;
  height: 50px;
  margin: 5px;
  margin-bottom: 100px;
  border-radius: 0%;
  border: solid 2px #385749ff;
}

.add-blog-button:hover {
  border: solid 3px #385749ff;
}

.add-blog-button svg {
  vertical-align: -3px;
}

.sp-label {
  margin: 5px;
}

.thesaurus-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thesaurus-item p,
.thesaurus-item button,
.thesaurus-item svg {
  margin: 0;
  margin-right: 50px;
}

.thesaurus-item button,
.thesaurus-label button {
  position: relative;
  top: 0px;
  background-color: #ffffffff;
  width: 40px;
  height: 40px;
  margin: 5px;
  margin-top: 0;
  margin-right: 20px;
  border-radius: 100%;
  border: solid 2px #385749ff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.thesaurus-item button:hover,
.thesaurus-label button:hover {
  border: solid 3px #385749ff;
}

.thesaurus-item button svg {
  position: relative;
  left: 2px;
}

.thesaurus-item svg {
  position: relative;
  top: 11px;
}

.thesaurus-term-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 200px;
}

.thesaurus-label input[type='text'] {
  margin-right: 15px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  position: relative;
  width: 50%;
  height: 34px;
}

.thesaurus-item p {
  position: relative;
  top: 10px;
}

.error-box {
  margin: 20px;
}

.error-button {
  position: relative;
  top: 0px;
  background-color: #ffffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  width: 200px;
  height: 50px;
  margin: 5px;
  margin-top: 0;
  margin-right: 20px;
  border-radius: 0;
  border: solid 2px #385749ff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.error-button:hover {
  border: solid 3px #385749ff;
}
/*# sourceMappingURL=App.css.map */