html {
  font-size: 10px;
}

.Main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.container {
  grid-column: 1;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 600px;
  position: relative;
}

.container svg {
  display: block;
  width: 100%;
  height: 100%;
  border: solid 1px black;
}

.sidebar {
  grid-column: 2;
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  border: solid 1px black;
}
.sidebar button {
  width: 33%;
  background-color: grey;
  border-radius: none;
  border: 1px solid black;
  margin: 0;
}
.sidebar .active-button {
  border-bottom: none;
  background-color: white;
}
.sidebar .active-button:focus {
  outline: none;
  border-bottom: 1px dotted grey;
}

.popup-sidebar-text {
  height: 30%;
  overflow-y: hidden;
}

.popup-subtitle {
  font-size: 1.5rem;
  font-weight: none;
}

.popup-aside {
  border: double 1px black;
  margin: 20px;
}

.search-bar {
  width: 200px;
}